<html>
<head>
    <title>Notebook</title>
</head>

<body>
<h2>Введите данные для добавления в адресную книгу:</h2>

<div>
    <form method="post">
        <input type="text" name="fio" placeholder="Веедите ФИО"/>
        <input type="text" name="phone" placeholder="Введите телефон">
        <input type="text" name="email" placeholder="Введите email">
        <input type="text" name="address" placeholder="Введите адресс">
        <input type="text" name="company" placeholder="Введите имя компании">
        <select id="position" name="position">
            <option value="Driver">Driver</option>
            <option value="Courier">Courier</option>
            <option value="Director">Director</option>
            <option value="Manager">Manager</option>
        </select>
        <button type="submit">Добавить</button>
    </form>
</div>

<h2>Введите данные для поиска по адресной книге:</h2>
<div>
    <form method="get" action="search">
        <input type="text" name="search" placeholder="Введите телефон">
        <button type="submit">Найти</button>
    </form>
</div>

<h2>Введите ID для удаления записи в адресной книги:</h2>

<div>
    <form method="post" action="delete">
        <input  type="number" name="id" placeholder="Введите ID (число)">
        <button type="submit">Удалить</button>
    </form>
</div>

<h2>Введите данные для редактирования записи в адресной книги (по ID):</h2>

<div>
    <form method="post"  action="edit">
        <input type="number" name="id" placeholder="Введите ID (число)">
        <input type="text" name="fio" placeholder="Веедите ФИО"/>
        <input type="text" name="phone" placeholder="Введите телефон">
        <input type="text" name="email" placeholder="Введите email">
        <input type="text" name="address" placeholder="Введите адресс">
        <input type="text" name="company" placeholder="Введите имя компании">
        <select id="position" name="position">
            <option value="Driver">Driver</option>
            <option value="Courier">Courier</option>
            <option value="Director">Director</option>
            <option value="Manager">Manager</option>
        </select>
        <button type="submit">Редактировать</button>
    </form>
</div>

<h2>Отфильтровать записи по должности:</h2>

<div>
    <form method="get" action="filter">
        <select id="positionForSearch" name="position">
            <option value="Driver">Driver</option>
            <option value="Courier">Courier</option>
            <option value="Director">Director</option>
            <option value="Manager">Manager</option>
            <option value="allPosition">Показать всех</option>
        </select>
        <button type="submit">Отфильтровать</button>
    </form>
</div>

<h2>Список записей адресной книги:</h2>

<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>FIO</th>
            <th>PHONE</th>
            <th>EMAIL</th>
            <th>ADDRESS</th>
            <th>COMPANY</th>
            <th>POSITION</th>
            <th>CREATED</th>
            <th>UPDATED</th>
        </tr>
        {{#entries}}
            <tr>
                <td>{{id}}</td>
                <td>{{fio}}</td>
                <td>{{phone}}</td>
                <td>{{email}}</td>
                <td>{{address}}</td>
                <td>{{company}}</td>
                <td>{{position}}</td>
                <td>{{created}}</td>
                <td>{{updated}}</td>
            </tr>
        {{/entries}}
    </table>
</div>

</body>
</html>
